In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('C:/Users/Hi/Downloads/aggri.csv')
df

        Years      District      Crops Yield Rainfall  Price
0   2005-2010    bagalakote     cotton  12.2      34%  10000
1   2011-2015    bagalakote  sugarcane  11.3      58%   2000
2   2016-2020    bagalakote      maize  360%       23   4000
3   2005-2010       ballari     cotton     4      26%  10000
4   2011-2015       ballari      paddy  12.4      30%   3000
..        ...           ...        ...   ...      ...    ...
88  2011-2015      yadagiri      jowar   0.5      52%   3000
89  2016-2020      yadagiri   red gram     0      67%   1200
90  2005-2010  vijayanagara      paddy     0      42%   2000
91  2011-2015  vijayanagara  groundnut     4      59%   3400
92  2016-2020  vijayanagara     cotton    29      32%  21000

[93 rows x 6 columns]

In [3]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.8)

# Train Random Forest
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Predictions
y_pred = clf.predict(X_test)

# Accuracy
print("Accuracy:", accuracy_score(y_test, y_pred))

NameError: name 'X' is not defined

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

# 3. Make predictions
y_pred = model.predict(X_test)

# 4. Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)
print("Predicted values:", y_pred)
print("Actual values:", y_test)